{% extends 'base.html' %}

{% block head %}
<title>Flask Introduction</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center;">Update task</h1>
    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="content" id="content" value="{{task.content}}">
                </div>
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-success" value="Update" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}